In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
# Retrieve page to be scraped with the Splinter module
executable_path = {'executable_path': '\Program Files\ChromeDriver\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
#NASA Mars News website to be scraped
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)

#HTML Object
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, "lxml")

In [12]:
# Examine the results, then determine element that contains sought info
# Retrieve the latest element that contains news title and news_paragraph
news = soup.find("div", class_="list_text")

news_title = news.find("div", class_="content_title").text
news_p = news.find("div", class_="article_teaser_body").text


# Display data 
print(news_title)
print(news_p)

NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet
The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021.

In [13]:
# JPL Mars Space Images - Featured Image
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

#HTML Object
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, "lxml")

In [15]:
# Find the image url for the current Featured Mars full size Image
image = soup.find('article')
lg_image_url = image.find('figure', class_="lede")
featured_image_url = lg_image_url.a['href']
# print(image)
print(featured_image_url)

AttributeError: 'NoneType' object has no attribute 'a'

In [16]:
# Visit Mars Weather twitter account and scrape the latest Mars weather tweet from the page
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)

#HTML Object
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, "lxml")

In [61]:
# Save the latest Mars weather tweet from the page 
weather = soup.find("div", {"data-testid":"tweet"})
mars_weather = weather.find("span", class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'find'

In [62]:
# Visit the Mars Facts webpage here, use Pandas to scrape the table containing facts about the planet
facts_url = 'https://space-facts.com/mars/'

table = pd.read_html(facts_url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [63]:
 type(table)

list

In [64]:
df = table[0]
df.columns = ["Planet Description", "Value"]
df.head()

     Planet Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [65]:
df.set_index('Planet Description', inplace=True)
df.head()

                                              Value
Planet Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [66]:
# Convert data to HTML table string
mars_facts_table = df.to_html()
mars_facts_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Planet Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [67]:
# Visit USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usgs_url)

#HTML Object
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, "lxml")

In [77]:
# Obtain titles for each of Mar's hemispheres.
items = soup.find("div", class_="item")

hemisphere_image_urls = []


for result in items:
    title = result.find('h3')
    images = result.find('a', class_='itemLink product-item')['href']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "images" : images})
    


print(hemisphere_image_urls)

TypeError: 'NoneType' object is not subscriptable